# Expo
.expo
.expo-shared
dist
.env
.env.local

# Node modules
node_modules
*.log

# iOS
ios/Pods
*.xcworkspace

# Android
android/build
android/.gradle

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
